# Executable outputs
*.exe
*.dll
*.lnk
*.exp
*.ilk

# Compiled scripts
*.dso

# The console
console.log

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Torsion files
*.torsion*